<!DOCTYPE html>
<html>
  <head>
    <title>Exchange Tracker | Quickly Find Your Exchange Rate</title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content='Exchange Rate Simplified'>
    <meta name="author" content="Neil Patel">
    <!-- Twitter Card Data -->
    <meta name="twitter:card" content="photo">
    <meta name="twitter:site" content="@neil">
    <meta name="twitter:creator" content="@neil">
    <meta name="twitter:description" content="Exchange Rate Tracker provides the easiest way to find your rate">
    <!-- facebook Open Graph data -->
    <meta property="og:title" content="Exchange Tracker | Quickly Find Your Exchange Rate">
    <meta property="og:description" content="provides the easiest way to find the exchange rate.">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway|Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://use.fontawesome.com/f40685afe6.js"></script>
  </head>

  <body>
    <div class="border"></div>
    <%= yield %>
  </body>
</html>
